<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Elliott Spelman</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>

  <body>

    <div class="container heading">

      <div class="span6">

      	<h2>Elliott Spelman</h2>

      	</br>

      	<p>Butcher. Baker. Useless thing maker.</p>

      	</br>

      	<p>Just kidding, I don't butch.</p>

      	</br>

      	<p>I grew up in Seattle. Went to USC for writing. I like sentence length variation, and things that reference themselves.</p>

        </br>

      	<p>I used to do marketing at WePay.</p>

      	</br>

        <p>Now I run something called The RoShamBusiness. Here's the <a href="www.rosham.biz" target="_blank">website</a>. Here's the <a href="https://www.kickstarter.com/projects/501803065/the-roshambusiness" target="_blank">Kickstarter</a>.</p>

        </br>

      	<p>You can get in touch with me via <a href="mailto:spelman7@gmail.com">email</a>, <a href="https://www.facebook.com/elliott.spelman">Facebook</a>, or <a href="https://twitter.com/ebspelman">Twitter</a>.</p>

      	</br>

      </div>

      <div class="span6">
      	<img src="/img/elliott.png">
      </div>

    </div>



  </body>
</html>
