<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Elliott Spelman</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  
  <body>

    <div class="container heading">
    
      <div class="span6">
      
      	<h2>Elliott Spelman</h2>
      	
      	</br>
      	
      	<p>My name is Elliott Spelman. I live in San Francisco and work on the API at <a href="http://www.wepay.com">WePay</a>.</p>
      	
      	</br>
      	
      	<p>I'm interested in serious things like economics, writing, startups, maps, and other kinds of data visualization.</p>
      	
      	</br>
      	
      	<p>But I'm even more interested in silly things. Here are some I've worked on recently:</p>
      	
      	<ul>
      		<li><a href="http://www.rosham.biz">The RoShamBusiness</a> - a company that makes stuff to remind people they don't need stuff</li>
      		<li><a href="http://www.rosham.biz/bizzers">RoShamBizzers</a> - scissors made out of rock and paper</li>
      		<li><a href="http://www.rosham.biz/bamwich">RoShamBamwich</a> - a sandwich with everything</li>
      		<li><a href="http://www.kickpet.com">Kickpet</a> - a website that helps pets raise money</li>
      	</ul>
      	
      	</br>
      	
      	<p>You can get in touch with me via <a href="mailto:spelman7@gmail.com">email</a>, <a href="https://www.facebook.com/elliott.spelman">Facebook</a>, or <a href="https://twitter.com/ebspelman">Twitter</a>.</p>
      	
      	</br>
      	
      </div>
      
      <div class="span6">
      	<img src="/img/elliott.png">
      </div>
      
    </div>
    
    

  </body>
</html>
